{% extends 'layout.html' %}


{% block main %}
<div class="container form-signin row mt-5 text-center">
  <div class="col-4 offset-4 m-azul rounded p-4">
    <h1 id="titulo" class="mb-4 fst-italic">Skate Park</h1>
    <h3 id="subtitulo" class="mb-4">Iniciar Sesi&oacute;n</h3>
    <hr>
    <form method="post" action="/login" class="mb-2">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" required>
      </div>
      <div class="">
        <button type="submit" class="btn btn-success">Ingresar</button>
      </div>
    </form>
    &iquest;A&uacute;n no tienes cuenta? <a href="/register">Reg&iacute;strate</a>
  </div>
</div>
{% endblock %}