{% extends 'layout.html' %}

{% block main %}

  <div class="row mt-5">
    <div class="col-4 offset-4 m-azul rounded p-4 text-center">
    <h1 id="titulo" class="mb-4 fst-italic">Skate Park</h1>
    <h2 id="subtitulo" class="mb-4">Registro</h2>
    <hr>
      <form method="post" action="/register" class="row g-3">
        <div class="col-md-6">
          <label for="Email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="col-md-6">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="col-md-6">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="col-md-6">
          <label for="password_confirm" class="form-label">Repetir la password</label>
          <input type="password" class="form-control" id="password_confirm" name="password_confirm" required>
        </div>
        <div class="col-md-6">
          <label for="aniosXP" class="form-label">A&ntilde;os de experiencia</label>
          <input type="text" class="form-control" id="aniosXP" name="aniosXP" required>
        </div>
        <div class="col-md-6">
          <label for="especialidad" class="form-label">Especialidad</label>
          <input type="text" class="form-control" id="especialidad" name="especialidad" required>
        </div>
        <div class="mb-3">
          <label for="foto" class="form-label">Foto de perfil</label>
          <input class="form-control" type="file" id="foto" name="foto" required>
        </div>
        <button type="submit" class="col-md-4 offset-4 btn btn-info">Registrarme</button>
      </form>
    </div>
  </div>
{% endblock %}